.chart-daily-tooltip-wrapper__container {
  background: white;
  padding: 15px;
  font-size: 15px;
  line-height: 1.5;
}

.chart-daily-tooltip-wrapper__date {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
}