.tooltip-numbers {
  // font-weight: bold;

  &.abbrev-numbers {
    font-weight: normal;
    text-transform: uppercase;
    span {
      font-weight: bold;
    }
  }
}

.chart-daily-tooltip__value {
  font-weight: 600;
}